/* start basic */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Cairo", sans-serif;
	text-transform: capitalize;
}
:root {
	--main-color: #2196f3;
	--alt-main-color: #03a9f4;
	--maintransition: 0.3s;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
::selection {
	display: none;
}
ol {
	padding: 10px 40px;
}
li {
	font-size: 17px;
}
/* end basic */
/* start header */
header {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	flex-wrap: wrap;
}
header .logo {
	font-size: 30px;
	padding-top: 20px;
}
header .logo a {
	color: var(--main-color);
	font-weight: bold;
}
header .links {
	width: inherit;
}
header .links > ul {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .links > ul > li {
	display: inline-block;
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	height: 100%;
	position: relative;
	transition: var(--maintransition);
	cursor: pointer;
	overflow: hidden;
}
header .links > ul > li:last-child {
	position: relative;
}
header .links > ul > li::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: var(--main-color);
	top: 0;
	left: -100%;
	transition: var(--maintransition);
}
header .links > ul > li a {
	color: black;
}
header .links > ul > li:hover {
	background-color: #fafafa;
	color: var(--main-color);
}
header .links > ul > li:hover a {
	color: var(--main-color);
}
header .links > ul > li:hover::after {
	left: 0;
}
/* start header media query */
@media (min-width: 768px) and (max-width: 992px) {
	header {
		justify-content: space-evenly;
		transition: var(--maintransition);
	}
}
@media (max-width: 767px) {
	header {
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		transition: var(--maintransition);
	}
	header .logo {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 0px;
	}
	header .links > ul > li {
		font-size: 15px;
		transition: var(--maintransition);
	}
}
/* end header media query */
.menu {
	position: absolute;
	padding: 10px;
	background-color: #e4eef7;
	border-radius: 10px;
	display: none;
	z-index: 10;
	top: 10%;
	right: 5%;
	width: 20%;
}
.otherlinks:hover .menu {
	display: flex;
}
.menu ul {
	display: flex;
	flex-wrap: wrap;
}
.menu ul li {
	display: flex;
	width: 100%;
	margin: 10px 0;
}
.menu ul li a {
	color: black;
}
.menu ul li i {
	color: var(--main-color);
	padding-right: 10px;
}
@media (max-width: 786px) {
	.menu {
		position: relative;
		width: auto;
		right: 0;
	}
}
@media (max-width: 586px) {
	.menu > ul > li {
		margin: 20px 0;
	}
}
/* end  header  */
/* start body  */
.body {
	background-color: #eee;
	width: 70%;
	height: auto;
	margin: 50px 15%;
}
@media (max-width: 586px) {
	.body {
		width: 100%;
		margin: 50px 0;
		align-items: stretch;
		padding: 0 20px;
	}
}
.body h2 {
	color: var(--main-color);
	text-align: center;
	font-size: 40px;
}
.body p {
	color: #333;
	font-size: 20px;
	margin: 30px 10px 10px;
}
.body .vid {
	width: 100%;
	position: relative;
}
.body .vid video {
	width: 100%;
}
.body .vid::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000cc;
}
.body .vid::after {
	content: "me while programming :)";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: calc((50% - 10vh) / 2) auto;
	padding: 30px 0;
	background-color: var(--main-color);
	color: white;
}
/* end body  */

/* start footer */
footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #191919;
	flex-wrap: wrap;
	padding: 0 5%;
}
footer > div {
	width: calc(92% / 4);
	margin: 1%;
}
footer .ftrjoe {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
footer .ftrjoe h2 {
	color: white;
	font-size: 50px;
	width: 100%;
	margin: 10px;
}
footer .ftrjoe a {
	width: auto;
	text-align: center;
	margin: 0 3%;
}
footer .ftrjoe a i {
	padding: 15px;
	background-color: #333;
	color: #b9b9b9;
	transition: var(--maintransition);
}
footer .ftrjoe a:hover i.fa-facebook-f {
	background-color: #1877f2;
}
footer .ftrjoe a:hover i.fa-twitter {
	background-color: #1da1f2;
}
footer .ftrjoe a:hover i.fa-youtube {
	background-color: #ff0000;
}
footer .ftrjoe p {
	color: #b9b9b9;
	line-height: 1.6;
	margin: 5% 0;
}
footer .ftrlink .implink {
	width: 100%;
	margin: 30px 20px;
	display: flex;
	position: relative;
}
footer .ftrlink .implink:not(:last-child)::after {
	content: "";
	position: absolute;
	width: 80%;
	height: 1px;
	background-color: #333;
	transform: translateY(30px);
	left: 0;
	margin-left: 10px;
}
footer .ftrlink .implink i {
	color: var(--main-color);
	font-size: 15px;
	padding: 0 10px;
	position: relative;
	transform: translateY(3px);
}
footer .ftrlink .implink a {
	text-decoration: none;
	color: #b9b9b9;
	transition: var(--maintransition);
}
footer .ftrlink .implink a:hover {
	transform: translateX(10px);
}
footer .ftrinfo > div {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 20px 0;
}
footer .ftrinfo > div i {
	font-size: 20px;
	margin: 0 10px;
	color: var(--main-color);
}
footer .ftrinfo > div p {
	color: #b9b9b9;
	padding: 10px;
}
footer .ftrpics {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
footer .ftrpics img {
	width: calc(94% / 3);
	padding: 3px;
	margin: 1%;
	background-color: #eee;
}
footer > p {
	text-align: center;
	color: #eee;
	padding: 3% 0;
	position: relative;
	width: 100%;
}
footer > p::after {
	content: "";
	position: absolute;
	background-color: #777;
	width: 110%;
	height: 1px;
	left: -5%;
	top: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	footer > div {
		width: calc(94% / 3);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	footer > div {
		width: calc(96% / 2);
	}
}
@media (min-width: 587px) and (max-width: 991px) {
	footer > div {
		width: calc(96% / 2);
	}
}
@media (max-width: 586px) {
	footer > div {
		width: 98%;
	}
	footer .ftrlink .implink {
		margin: 30px 0;
	}
	footer .ftrpics img {
		width: calc(40% / 3);
	}
	footer .ftrpics {
		margin: 10% 0;
	}
}
/* end footer */
